.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: "Call-to-actions", sans-serif;
}

h1,
h2,
h3 {
    font-family: Poppins, sans-serif;
}

.row {
    margin: 20px 0;
}

.navbar {
    background-color: hsla(193, 100%, 96%, .5);
}

.upper {
    background-image: url("images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
}

.upper-container {
    background-color: hsla(193, 100%, 96%, .5);

    padding: 0 7%;
}

.starting {
    padding: 9% 3%;
}

.starting button,
.contact button {
    margin-left: 10px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 21px;
    padding-left: 0px;
    height: 21%;
    width: 41%;
}


.columns {
    margin: 5% 7%;
    box-shadow: 5px 1px 13px hsl(208deg 11% 55%);
    border-radius: 8px;
}

.main-heading {
    padding: 10% 8%;
}

.contact {
    height: 237px;
    padding: 2% 6%;
    z-index: 2;
    position: relative;
    top: 120px;
    background-color: white;
}

.contact button {
    height: 46px;
    margin: 8px 0 0 22%;
}

footer {
    background-color: hsl(192, 100%, 9%);
}

.bottom-image{
fill: white;
}

.Copyright {
    margin: 4px 4% 0 70%;
}



@media screen and (max-width:1000px) {
    .contact button {
        height: 56px;
        width: 162px;
        margin: 11px 0 0 0%;
    }
    .contact{
        top: 100px;
    }
    .Copyright{
        margin: 4px 20%;
    }
}